*.local.*
__pycache__
.DS_Store
checkpoints/**/*.pth
checkpoints/**/_evaluation_metrics.json
checkpoints/**/_train_evaluation_metrics.json
checkpoints_backup
data/**/*.npy
data/gait-in-parkinsons-disease-1.0.0
data/gait-in-parkinsons-disease-1.0.0.zip
data/preprocessed_backup
data_backup
evaluations
anomaly_detection

3d_signal_in_box.png
all_signal_transparant.png
foot-sensor.ipynb
foot_img.jpeg
foot_img_2.jpeg
foot_img_transparant.png
plot_with_transparent_background.png
warped_plot.png
aggregated_confusion_matrix.png
cross_val_metrics.png
ExpertResult.ipynb
RNNInceptionTimeMoE_evaluation_rev.ipynb
Inference-mobile.ipynb
Main-Result-Chart.ipynb
model.pt
test_windows.h5
single_fold_moe_evaluation_output_visualization_tSNE.ipynb

__MODELS_DATASETS__